@import "./navbar.scss";

.test {
    font-weight: bold;
    color: #7a8288;
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}